<nav id="sidebar">
    <div class="sidebar-header">
        <img class="" src="../../../assets/img/PT-SecondaryLogo05152015.png">
    </div>
    <div class="sidebar-content">
        <ul class="list-style">
            <li>
                <a [routerLink]="['']" aria-expanded="false" routerLinkActive="menu-active"
                    [routerLinkActiveOptions]="{exact:true}">
                    <i class="far fa-calendar-alt"></i><br>
                    <span class="sidebar-content-heading" style="margin-left: -24px">DASHBOARD</span>
                </a>
            </li>
            <hr style="border-top:  1px solid #6c6f6f !important;margin-right: 25px;margin-left: -25px;">
            <li>
                <a [routerLink]="['']" aria-expanded="false" routerLinkActive="menu-active"
                    [routerLinkActiveOptions]="{exact:true}">
                    <i class="far fa-calendar-alt"></i><br>
                    <span class="sidebar-content-heading" style="margin-left: -10px">SPEND</span>
                </a>
            </li>
            <hr style="border-top:  1px solid #6c6f6f !important;margin-right: 25px;margin-left: -25px;">
            <li>
                <a [routerLink]="['']" aria-expanded="false" routerLinkActive="menu-active"
                    [routerLinkActiveOptions]="{exact:true}">
                    <i class="far fa-calendar-alt"></i><br>
                    <span class="sidebar-content-heading" style="margin-left: -14px">ORDERS</span>
                </a>
            </li>
            <hr style="border-top:  1px solid #6c6f6f !important;margin-right: 25px;margin-left: -25px;">
            <li>
                <a [routerLink]="['']" aria-expanded="false" routerLinkActive="menu-active"
                    [routerLinkActiveOptions]="{exact:true}">
                    <i class="far fa-calendar-alt"></i><br>
                    <span class="sidebar-content-heading" style="margin-left: -30px">SAVED REPORTS</span>
                </a>
            </li>
        </ul>
    </div>
</nav>