<nav class="navbar">
  <div class="row" style="width: 110%">
    <div class="col-3 bean-style">
      BEAN SUNTORY
    </div>
    <div class="col-2">
      <div class="dropdown input-group">
        <span style="font-size: 14px;color: #666666;padding-left: 8px;">All Brands</span>
        <span class="angle-down dropdown-toggle" data-toggle="dropdown"></span>
        <ul class="dropdown-menu dropdown-menu-right">
          <li>demo option1</li>
          <li>demo option2</li>
          <li>demo option3</li>
        </ul>
      </div>
    </div>
    <div class="col-4">
      <!-- <div class="dropdown input-group" style="width: 73%">
        <span style="font-size: 14px;color: #666666;padding-left: 8px;">Last 7 days: 9/15/2018- 9/21/2018</span>
        <span class="angle-down dropdown-toggle" data-toggle="dropdown" style="padding-left: 20rem !important"></span>
        <ul class="dropdown-menu dropdown-menu-right">
          <li>demo option1</li>
          <li>demo option2</li>
          <li>demo option3</li>
        </ul>
      </div> -->
      <app-daterange></app-daterange>
    </div>
    <div class="col-3">

    </div>
  </div>
</nav>