<nav class="navbar">
  <div class="row" style="width: 102%;">
    <div class="col-3 bean-style">
      BEAN SUNTORY
    </div>
    <div class="col-2">
      <div class="dropdown input-group">
        <span style="font-size: 14px;color: #666666;padding-left: 8px;">All Brands</span>
        <span class="angle-down dropdown-toggle" data-toggle="dropdown"></span>
        <ul class="dropdown-menu dropdown-menu-right">
          <li>demo option1</li>
          <li>demo option2</li>
          <li>demo option3</li>
        </ul>
      </div>
    </div>
    <div class="col-4">
      <app-daterange></app-daterange>
    </div>
    <div class="col-3 right-side">
      <span style="font-size: 14px;color: #666666;padding-left: 8px;">Todd Price</span>
      <span class="angle-down dropdown-toggle" data-toggle="dropdown" style="padding: 0px 0px 0px 5px !important;"></span>
      <ul class="dropdown-menu dropdown-menu-right"></ul>
    </div>
  </div>
</nav>