<div class="row">
  <!-- left part -->
  <div class="col-9 container">

    <div class="row">
      <div class="col-3 inner-content" style="flex: 0 0 22%;">
        38 Active Jobs
      </div>
      <div class="col-3 inner-content left-gap">
        6 Completed Jobs
      </div>
      <div class="col-3 inner-content left-gap">
        12 Pending Approvals
      </div>
      <div class="col-3 inner-content left-gap">
        99.2% Right the 1st Time
      </div>
    </div>

    <div class="row">
      
    </div>

  </div>

  <!-- right part -->
  <div class="col-3">

  </div>
</div>