<div class="row" style="background-color:#f6f6f6 ;border-top: 1px solid #ced2d7">
  <!-- left part -->
  <div class="container" style="width: 74%">

    <div class="row">
      <div class="col-3 inner-content" style="flex: 0 0 22%;">
        38 Active Jobs
      </div>
      <div class="col-3 inner-content left-gap">
        6 Completed Jobs
      </div>
      <div class="col-3 inner-content left-gap">
        12 Pending Approvals
      </div>
      <div class="col-3 inner-content left-gap">
        99.2% Right the 1st Time
      </div>
    </div>

    <div class="row">
      <div class="col-7">
        <div class="card" style="margin-left: -15px">
          <div class="card-header">
            <b>WORK STATUS</b> (Jobs created: 9/15/2018 - 9/21/2018)
          </div>
          <div class="card-body row">
            <div class="col-6" style="padding: 25px">
              <div class="chart-des">
                <i class="checkmark fal fa-square" style="background-color: #2db2fc;color: #2db2fc;font-size: 11px"></i>
                Administration
                <span>11.7%</span>
              </div>
              <div class="chart-des">
                <i class="checkmark fal fa-square" style="background-color: #8cc63e;color: #8cc63e;font-size: 11px"></i>
                In-Progress
                <span>47.3%</span>
              </div>
              <div class="chart-des">
                <i class="checkmark fal fa-square" style="background-color: #fbaf3f;color: #fbaf3f;font-size: 11px"></i>
                Pending Approval
                <span>31.5%</span>
              </div>
              <div class="chart-des" style="border-bottom: none;">
                <i class="checkmark fal fa-square" style="background-color: #ff0000;color: #ff0000;font-size: 11px"></i>
                On Hold
                <span>9.5%</span>
              </div>
            </div>
            <div class="col-6">

            </div>
          </div>
        </div>
      </div>
      <div class="col-5" style="padding-right: 31px">
        <div class="card">
          <div class="card-header">
            <b>TARGET DELIVERY</b>
          </div>
          <div class="card-body">

          </div>
        </div>
      </div>
    </div>
    <div class="row">

    </div>
    <div class="row">

    </div>
    <div class="row">

    </div>

  </div>

  <!-- right part -->
  <div style="background:#192c42;width: 26%">

  </div>
</div>